.card {
  border-radius: 8px;
  margin: 2rem 1rem;
  background-color: var(--color-card);
  box-shadow: var(--box-shadow);
  font-size: 14px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border);
  font-size: 22px;
}

.backButton {
  position: absolute;
  left: 1rem;
  border: none;
  background: none;
  color: var(--color-text);
  cursor: pointer;
  outline: none;
}

.backIcon {
  width: 2rem;
  height: 2rem;
}

.icons {
  display: flex;
  align-items: center;
}

.coinX,
.coinY {
  width: 2.5rem;
  height: 2.5rem;
}

.coinY {
  position: relative;
  right: 0.5rem;
}

.body {
  padding: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 480px) {
  .card {
    max-width: 480px;
    margin: 2rem auto;
    font-size: 16px;
  }

  .header {
    font-size: 32px;
  }

  .backIcon {
    width: 3rem;
    height: 3rem;
  }
}
