.inputGroup {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px var(--color-border);
  border-radius: 8px;
  background: none;
}

.label {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 12px;
}

.percentButton,
.percentButtonActive {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 4px;
  background: var(--color-button);
  color: var(--color-button-text);
  cursor: pointer;
  font-size: 12px;
  outline: none;
}

.percentButtonActive {
  background: var(--color-button-primary);
  color: var(--color-button-primary-text);
}

.percentButton:hover {
  opacity: 0.8;
}

.input {
  width: 100%;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: none;
  color: var(--color-text);
  font-size: 34px;
  font-weight: 300;
  outline: none;
}

.value {
  margin-top: 0.25rem;
  color: var(--color-placeholder);
  font-size: 12px;
}

@media (min-width: 768px) {
  .inputGroup {
    flex: 1;
  }
}
