.iconButton {
  border: none;
  background: none;
  color: var(--color-text);
  cursor: pointer;
  outline: none;
}

.icon,
.iconRotate {
  width: 1.5rem;
  height: 1.5rem;
}

.iconRotate {
  transform: rotate(360deg);
  transition-duration: 1s;
}
